@{
    ViewData["Title"] = "Your one stop shop for Ice Cream";
}

<h1>Welcome to ICE CREAM!</h1>

<form method="post">
    <label for="flavor">Flavor: </label>
    <input type="text" name="flavor" id="flavor" />
    <br />
    <label for="scoops">Number Of Scoops: </label>
    <input type="text" name="scoops" id="scoops" />
    <br />
    <label for="container">Container(Cone or Cup): </label>
    <input type="text" name="container" id="container" />
</form>